.navbar-toggler {
  position: absolute;
  z-index: 5;
  width: 30px;
  height: 30px;
  top: 100%;
  transform: translateY(-50%);
  right: 10px;
  &__button {
    background-color: $dark-blue;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
    border: 1px;
    border-color: rgba(white, 0);
    padding: 0;
    position: relative;
    span {
      background: white;
      display: block;
      width: 17.5px;
      height: 1px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      $top: 15px;
      transition: .25s;
      &:nth-child(1) {
        top: $top - 5px;
        transform: translateX(-50%) rotate(0);
        .open & {
          top: $top;
          transform: translateX(-50%) rotate(45deg);
        }
      }
      &:nth-child(2) {
        top: $top;
        opacity: 1;
        .open & {
          opacity: 0;
        }
      }
      &:nth-child(3) {
        top: $top + 5px;
        transform: translateX(-50%) rotate(0);
        .open & {
          top: $top;
          transform: translateX(-50%) rotate(-45deg);
        }
      }
    }
  }
  @include responsive {
    display: none;
  }
}