@mixin background-image($position: center, $size: cover, $repeat: no-repeat) {
	background-position: $position;
	background-size: $size;
	background-repeat: $repeat;
	@content;
}

@mixin responsive($breakpoint: $break) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin font($weight: 500, $style: normal) {
	font-family: komet, sans-serif;
	font-weight: $weight;
	font-style: $style;
}

@mixin font-sc($weight: 500, $style: normal) {
	font-family: komet-sc, sans-serif;
	font-weight: $weight;
	font-style: $style;
}