// Colors
$red: #EF3340;
$orange: #EA7600;
$yellow: #F2A900;
$green: #8EDD65;
$blue: #0077C8;
$dark-blue: #003865;
$purple: #9063CD;

$font-color: black;

// Sizes

$break: 768px;

$content-width: 800px;

// Font weights
$medium: 600;
$bold: 700;